@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Open+Sans:wght@400;700&display=swap');


h1 {
    font-family: "Playfair-Display", serif;
    font-weight: 600;
}

body { 
    font-family: "Playfair Display", serif; 
    font-weight: 400;
}
  
@supports (font-variation-settings: normal) {
    h1 {
        font-family: "Playfair-Display", serif;
        font-variation-settings: "wght" 600;
    }
    body { 
        font-family: "Playfair Display", serif; 
        font-variation-settings: "wght" 400;
    }
}


  
  